  <tr id="<%= user.id %>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phone %></td>
        <% if user.status === false %>

            <td>
                <p class="text-danger">inactive</p>
            </td>

          <% elsif user.status === true%>
             <td>
                <p class="text-success">active</p>
            </td>

        <%end%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>

        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'delete' %></td>
      </tr>