 <p id="notice"><%= notice %></p>

<div class="container">
    <h1>Users</h1>


  <div class="digg_pagination mt-3 mb-5">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>

  <%# do partial here %>
  <%= render partial%>

   <div class="digg_pagination mt-5">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>

<br>





</div>



  <div class="container">

      <div id="new-user">

        <%= link_to 'New User',  new_user_path, remote: true %>


    </div>

  </div>




  




